body {
    background-color: #eee;
}

.bookContainer {
    outline: 1px solid #aaa;
    width: 350px;
    height: 130px;
    background-color: #fff;
    float: left;
    margin: 5px;
    
    img {
      float: left;
      margin: 10px;
    }
    
    ul {
      list-style-type: none;
      margin-bottom: 0;
    }
    
    button {
      float: right;
      margin: 10px;
    }
}

#addBook {
  label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
    line-height: 25px;
  }
  
  label, input {
    display: block;
    margin-bottom: 10px;
    float: left;
  }
  
  label[for="title"], label[for="releaseDate"] {
    clear: both;
  }
  
  button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
  }
  
  div {
    width: 585px;
    
    &:after {
      content: "";
      display: block;
      height: 0;
      visibility: hidden;
      clear: both;
      font-size: 0;
      line-height: 0;
    }
  }
}